.about-promo-box
  +bg(url("../images/home-town-1.png") top center)
  background-size: cover
  background-repeat: no-repeat
  min-height: 300px
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
  .about-promo-box
    min-height: 500px
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
  .about-promo-box
    min-height: 630px
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
  .about-promo-box
    min-height: 630px