.bordered-btn
  +bg(none)
  display: inline-block
  margin: 0 auto
  +fs(28px)
  text-transform: uppercase
  font-weight: bold
  font-family: AkzidenzGroteskCE
  padding: 15px 30px
  &:hover
    text-decoration: none
  &.big-btn-mod
    padding: 30px 70px
  &.small-btn-mod
    padding: 10px 20px
  &.white-style-mod
    color: white
    border: 1px solid white
  &.black-style-mod
    color: #000
    font-family: AkzidenzGroteskBQ
    border: 2px solid #000
  &.green-style-mod
    color: #539446
    border: 1px solid #539446
  &.double-border-mod
    border-width: 4px
.helmer-btn
  +bg(#000)
  display: inline-block
  margin: 0 auto
  font-size: 25px
  text-transform: uppercase
  font-weight: bold
  font-family: AkzidenzGroteskBQ
  padding: 15px 30px
  &:hover
    text-decoration: none
  &.big-btn-mod
    padding: 30px 70px
  &.small-btn-mod
    padding: 10px 20px
  &.black-style-mod
    color: white
    +bg(#000)
  &.green-style-mod
    color: white
    +bg(#539446)
