.cart-box
  display: table
  position: absolute
  z-index: 200
  right: 50px
  top: 600px
  outline: none
  &:hover
    text-decoration: none
  .cart-icon
    display: table-cell
    vertical-align: middle
    text-align: center
    padding-left: 40px
  .prise-box
    text-align: center
    display: table-cell
    +bg(white)
    +border-radius(10px)
    color: #58585a
    +fs(25px)
    position: relative
    vertical-align: middle
    text-align: center
    padding: 20px
    +bold
    &:before
      content: ''
      +wxh(28px, 58px)
      +abs_tl(50%, 100%)
      +m_t(-29px)
      +bg(url("../images/cart-arrow.png") no-repeat 0 0)


