.dashed-header
  overflow: hidden
  position: relative
  text-align: center
  font-family: AkzidenzGroteskBQ
  +m_b(30px)
  &.white-mod
    color: white
    span
      &:before,
      &:after
        background-color: white
  &.black-mod
    color: black
    span
      &:before,
      &:after
        background-color: black
  &.green-mod
    color: #519542
    span
      &:before,
      &:after
        background-color: #519542
  span
    position: relative
    +fs(66px)

    &:before,
    &:after
      content: ""
      position: absolute
      height: 5px
      background-color: white
      top: 33px
      width: 600px
    &:before
      right: 100%
      margin-right: 15px

    &:after
      left: 100%
      margin-left: 15px