.faq-questions-box
  padding: 20px
  max-width: 980px
  margin: 0 auto
  padding: 0
  .faq-title
    display: block
    color: #585858
    font-family: AkzidenzGroteskBQ
    font-size: 38px
    text-align: center
    text-decoration: none
    text-transform: uppercase
    &.collapsed, &:hover
      color: #202020

    span
      +m_l(10px)
      &:before
        content: "\e260"
    &.collapsed
      span:before
        content: "\e259"

  .collapse, .collapsing
    color: #202020
    font-family: AkzidenzGroteskCE
    font-size: 18px
    .collapse-wrapper
      padding: 20px