@font-face
  font-family: 'AkzidenzGroteskCE'
  src: url('../fonts/AkzidenzGroteskCE-Roman.eot')
  src: url('../fonts/AkzidenzGroteskCE-Roman.eot?#iefix') format("embedded-opentype"), url('../fonts/AkzidenzGroteskCE-Roman.woff2') format("woff2"), url('../fonts/AkzidenzGroteskCE-Roman.woff') format("woff"), url('../fonts/AkzidenzGroteskCE-Roman.ttf') format("truetype"), url('../fonts/AkzidenzGroteskCE-Roman.svg#AkzidenzGroteskCE-Roman') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AkzidenzGroteskBQ'
  src: url('../fonts/AkzidenzGroteskBQ-BdCnd.eot')
  src: url('../fonts/AkzidenzGroteskBQ-BdCnd.eot?#iefix') format("embedded-opentype"), url('../fonts/AkzidenzGroteskBQ-BdCnd.woff2') format("woff2"), url('../fonts/AkzidenzGroteskBQ-BdCnd.woff') format("woff"), url('../fonts/AkzidenzGroteskBQ-BdCnd.ttf') format("truetype"), url('../fonts/AkzidenzGroteskBQ-BdCnd.svg#AkzidenzGroteskBQ-BdCnd') format("svg")
  font-weight: bold
  font-style: normal