footer
  +bg(#519542)
  +p(71px, 0, 79px, 0)

  .footer-box
    +box-sizing(border-box)

    .foter-title
      text-align: center
      color: #f2fbfd
      font-family: AkzidenzGroteskBQ
      font-size: 40px
      line-height: 50px
      border-bottom: 3px solid white
      margin-top: 40px
      padding-bottom: 10px
      margin-bottom: 20px
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        display: block
        text-align: center
    a
      color: #f2fbfd
      font-family: AkzidenzGroteskCE
      font-size: 14px
      font-weight: 400
      line-height: 50px
  .social-box
    width: 240px
    +m(40px, auto, 0, auto)
    > a
      +m_r(39px)
      &:last-child
        +m_r(0)

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
  footer
    .footer-box-row, .footer-box-title-row
      display: table
      width: 100%
    .footer-box-title-row
      .foter-title
        display: table-cell
        width: 25%
    .footer-box
      display: table-cell
      width: 25%
      border-bottom: none
      border-left: 3px solid white
      &:last-child
        border-right: 3px solid white
    .footer-box-title-row
      .foter-title
        text-align: center
        color: #f2fbfd
        font-family: AkzidenzGroteskBQ
        font-size: 40px
        line-height: 50px
        padding: 0 20px
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
