.header
  .navbar-header
    margin: 34px 0
    .navbar-toggle
      +m_t(20px)
    a
      margin: 0
      padding: 0

  .navbar
    +bg(white)
    border: none
    +m_b(0)
  .option-box
    margin: 34px 0
    +clearfix
    &:last-child
      +m_r(0)
    a
      margin: 0
      padding: 0
      display: table
      margin: 0 auto
    .option-icon
      +m_r(6px)
      display: table-cell
    .option-txt
      color: black
      font-family: AkzidenzGroteskCE
      font-size: 16px
      font-weight: 900
      line-height: 15px
      text-transform: uppercase
      display: table-cell
      vertical-align: middle

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
  .header
    .option-box
      margin-right: 90px
      max-width: 175px
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
  .header
    .option-box
      margin-right: 195px
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
  .header
    .option-box
      margin-right: 75px