.hemper-form-bg
  +bg(url("../images/bg-form.png"))
  background-size: cover
  background-repeat: no-repeat
  .hemper-form-bg-arrow
    +bg(url("../images/bg-form-arrow.png"))
    background-repeat: no-repeat
    +abs_tl(0,50%)
    +wxh(2000px, 200px)
    +m_l(-1000px)
    z-index: 100
.hemper-form
  max-width: 980px
  margin: 0 auto
  padding: 269px 20px 75px 20px
  .hemper-form-sub-title
    +upper
    +fs(14px)
    color: white
    text-align: center
    +m_b(20px)
  .dashed-header
    +upper
    span
      &:before,
      &:after
        width: 100px
  form
    > .dashed-header
      margin: 100px 0 50px 0
    label

  .form-group
    +m_b(40px)
  .form-control
    +fs(16px)
    background: none
    +border-radius(0)
    +box-shadow(none)
    border: none
    border-bottom: 1px solid white
    color: white
    outline: none
    +input-placeholder
      color: white
  textarea
    height: 300px
  .hemper-form-subtitle
    color: #f2fbfd
    font-family: AkzidenzGroteskBQ
    font-size: 18px
  &.hemper-form-black-mod
    .hemper-form-sub-title
      color: black
    .form-control
      border-bottom: 1px solid black
      color: black
      +input-placeholder
        color: black