.hemper-bordered-form
  border-width: 5px
  border-style: solid
  border-color: black
  position: relative
  margin: 60px 0
  padding: 0 100px
  &:before
    content: ''
    +wxh(65px, 80px)
    +abs_tl(-43px, 50%)
    +m_l(-40px)
  &.hemper-bordered-form-green-mob
    border-color: #519542
    &:before
      +bg(white url("../images/hemper-bordered-form-green.png") no-repeat center center)


