.paper-box
  position: relative
  +bg(url("../images/paper.png") repeat top left)
  z-index: 100
  &:before
    content: ' '
    width: 100%
    height: 33px
    +abs_tl(-33px, 0px)
    +bg(url("../images/paper-top.png") repeat-x top left)
  &:after
    content: ' '
    width: 100%
    height: 33px
    +abs_bl(-33px, 0px)
    +bg(url("../images/paper-bottom.png") repeat-x top left)