.promo-info
  max-width: 920px
  margin: -239px auto 115px auto
  .promo-info-icon
    padding-bottom: 72px
    position: relative
    &:after
      content: ''
      +bg(url(../images/icon-arrow-up.png))
      +abs_blw(0, 50%, 76px)
      height: 39px
      margin-left: -38px
  .promo-info-title
    color: #202020
    font-family: AkzidenzGroteskBQ
    font-size: 38px
    text-align: center
    margin: 66px 0 19px 0
  p
    color: #202020
    font-family: AkzidenzGroteskCE
    font-size: 18px
    text-align: center
