.promo-box-bg
  +bg(url("../images/bg-promo-img-1.png"))
  background-size: cover
  background-repeat: no-repeat
  text-align: center
  .promo-box
    +p_t(248px)
    +p_b(322px)
    max-width: 912px
    margin: 0 auto
    font-family: AkzidenzGroteskBQ
    font-size: 33px
    color: white
    text-align: center
    .dashed-header span
      +fs(104px)
    .dashed-header span:before,
    .dashed-header span:after
      top: 52px
    img
      margin: 122px auto 92px auto
.promo-box-bg-2
  width: 100%