.search-form
  display: table
  width: 100%
  vertical-align: middle
  margin: 45px 0
  input
    display: table-cell
    +bg(none)
    border: none
    border-bottom: 1px solid #231f20
    +border-radius(0)
    +box-shadow(none)
    outline: none
    +input-placeholder
      text-align: center
      +upper
      +fs(12px)
  .search-icon
    display: table-cell
    +fs(21px)
    width: 25px