.sub-header
  +abs_tl(0,0)
  z-index: 100
  width: 100%

  .navbar
    background-color: rgba(81, 150, 67, 0.5)
    border: none
    +border-radius(0)
  .mouthpiece
    padding: 24px 0 31px 0
    display: block
  .navbar-toggle
    +m_t(40px)
    .icon-bar
      background-color: white
    &:hover, &:focus
      .icon-bar
        background-color: #888
  .user-menu
    font-family: AkzidenzGroteskCE
    font-size: 18px
    font-weight: 900
    text-transform: uppercase
    text-align: center

    li
      padding: 29px 0 35px 0
      +clearfix
      &:last-child
        +m_r(0)
      a
        color: white !important
        padding: 20px 0px
        margin:  0
        &:hover
          text-decoration: underline
      .btn-green
        background-color: #519643
        color: white
        text-transform: uppercase
        text-align: center
        padding: 20px 30px
        margin: 0 40px
        &:hover
          background-color: #519643


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
  .sub-header
    .user-menu
      li
        +m_r(40px)
        .btn-green
          margin: 0
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
  .sub-header
    .user-menu
      margin-left: 40px
      li
        +m_r(34px)
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
  .sub-header
    .user-menu
      margin-left: 95px
      li
        +m_r(100px)