.top-panel
  border-bottom: 2px solid #b5b3b4
  +m_b(80px)

  .sort-box
    margin: 45px 0
    .dropdown-toggle
      +bg(none)
      border: none
      outline: none
      color: #202020
      font-family: AkzidenzGroteskCE
      font-size: 18px
      &:focus
        +box-shadow(none)
      .caret
        border: none
        vertical-align: baseline
        +m_l(10px)
        &:before
          content: "\e259"
          position: relative
          top: 1px
          display: inline-block
          font-family: 'Glyphicons Halflings'
          font-style: normal
          font-weight: 400
          line-height: 1
  .categories-menu
    margin: 52px 0
    +clearfix
    a
      color: #202020
      font-family: AkzidenzGroteskCE
      font-size: 14px
      +m_r(20px)
      +upper
      +fl
