footer
  .container
    .row
      .col-md-12
        .footer-box-title-row.hidden-xs.hidden-sm
          .foter-title SHOP
          .foter-title CUSTOMER CARE
          .foter-title COMPANY
          .foter-title WORK WITH US
        .footer-box-row
          .footer-box
            .foter-title.hidden-md.hidden-lg SHOP
            ul.footer-box-list
              li
                a(href="#") JOIN NOW
              li
                a(href="#") GIFT CARD
          .footer-box
            .foter-title.hidden-md.hidden-lg CUSTOMER CARE
            ul.footer-box-list
              li
                a(href="#") HOW IT WORKS
              li
                a(href="/faq.html") FAQS
              li
                a(href="#") PRIVATE POLICY
              li
                a(href="#") LOGIN
          .footer-box
            .foter-title.hidden-md.hidden-lg COMPANY
            ul.footer-box-list
              li
                a(href="#") ABOUT US
              li
                a(href="#") BECOME A VENDER
              li
                a(href="#") NEWSLETTER
          .footer-box
            .foter-title.hidden-md.hidden-lg WORK WITH US
            ul.footer-box-list
              li
                a(href="#") AFFILIATES
              li
                a(href="#") SUPPLIERS
              li
                a(href="#") WHOLESALE
    .row
      .col-md-12
        .social-box
          a(href="#")
            img(src="images/facebook-icon.png")
          a(href="#")
            img(src="images/instagram-icon.png")
          a(href="#")
            img(src="images/email-icon.png")