header.header
  nav.navbar.navbar-default
    .container
      .navbar-header
        .navbar-header-cell
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#header-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.logo(href='#')
            img(
            src="images/hempermainlogo-green.png"
            )
      #header-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.option-box
            a(href="#")
              img.option-icon(
                src="images/option-gift.png"
              )
              span.option-txt redeem your gift
          li.option-box
            a(href="#")
              img.option-icon(
                src="images/option-support.png"
              )
              span.option-txt redeem your gift
          li.option-box
            a(href="#")
              img.option-icon(
                src="images/option-login.png"
              )
              span.option-txt redeem your gift