section.sub-header
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sub-header-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.mouthpiece(href='#')
          img(
          src="images/mouthpiece.png",
          title="hemper life"
          )
      #sub-header-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.user-menu
          li
            a(href="/giftcard.html") give a gift
          li
            a(href="#") SHOP NOW
          li
            a(href="#") HOW it works
          li
            a.btn-green(href="#") Subscribe Now