.custom-giftcard
  position: relative
  overflow: hidden
  .promo-box-bg .promo-box
    padding-bottom: 565px
  .promo-info
    max-width: 920px
    margin: -351px auto 115px auto
    .promo-info-icon
      padding-bottom: 72px
      position: relative
      img
        position: relative
        left: 54px
      &:after
        content: ''
        +bg(url(../images/icon-arrow-up.png))
        +abs_blw(0, 50%, 76px)
        height: 39px
        margin-left: -38\px
    .promo-info-title
      color: #202020
      font-family: AkzidenzGroteskBQ
      font-size: 38px
      text-align: center
      margin: 66px 0 19px 0
      +upper
    .promo-info-or-txt
      vertical-align: middle
      color: black
      font-family: AkzidenzGroteskBQ
      font-size: 59px
      text-align: center
    p
      color: #202020
      font-family: AkzidenzGroteskCE
      font-size: 18px
      text-align: center
    .helmer-btn
      margin: 70px 0
  .giftcard-bottom-btn
    text-align: center
    margin: 80px 0
  .hemper-bordered-form .hemper-form
    +p_t(60px)
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
  .giftcard
    .promo-info
      .promo-info-or-txt
        +m_t(600px)
/* Large devices (large desktops, 1200px and up) */
//@media (min-width: $screen-lg-min)