.ecommerce
  position: relative
  overflow: hidden
  .products-box
    max-width: 980px
    margin: 0 auto
  .categorie-box
  .item
    position: relative
    text-align: center
    display: block
    &:hover
      .description-box
        height: 100%
    img
      display: inline-block
  .description-box
    background-color: rgba(81, 150, 67, 0.5)
    +abs_tl(0,0)
    width: 100%
    height: 0%
    +transition(all 0.3s)
    overflow: hidden
    .align-wrapper
      position: absolute
      top: 50%
      +transform(translateY(-50%))
      text-align: center
      color: white
      width: 100%
      .category-name
        font-family: AkzidenzGroteskBQ
        font-size: 20px

      .item-name
        font-family: AkzidenzGroteskBQ
        font-size: 48px
        +upper
        margin: 5% 0
  .rest-items
    position: relative
    background-color: #c0c0c0
    height: 100%

    .description-box
      background-color: #c0c0c0
      height: 100%
  .view-more-btn-box
    text-align: center
    margin: 40px 0