.policy
  position: relative
  overflow: hidden
  .policy-info
    width: 980px
    margin: 0 auto
    padding-top: 200px
    text-align: center
    .dashed-header
      width: 630px
      margin: 0 auto
      display: block
      margin-bottom: 100px
      +upper
