extends layouts/default

block content
  .page-wrapper
    include  partials/sub-header.jade
    .row
      .col-md-12
        .about-promo-box


    .row
      .col-md-12
        .about-info
          h6 Hemper is a New York based subscription box company- tailored to the cannabis industry.

          p Our mission is to deliver the highest quality experience and tobacco supplies every month, at one flat rate.Our Hemper Box was inspired by the to-your-door boom, delivering essential products to you in one, simple package. Hemper simplifies the process of getting high-quality smoking products, at an affordable cost, while at the same time introducing our subscribers to new and exciting smoking products.

          p For more information on our company or product, please contact us
            | #{' '}
            a(href="mailto:contact@hemper.co") contact@hemper.co

          p And stay informed by signing up for our newsletter!

          p
            b
              i
                | DISCLAIMER:
                | Our products are intended for tobacco & legal use only .We do not sell to minors.
          .i-love-ny-box
            img.img-responsive.center-block(src="images/i-love-ny.png")
    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span Stay updated
          p.hemper-form-sub-title
            | Subscribe to our newslater, to receive special offers news and other updates.
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='firstName') First Name
                  input#firstName.form-control(type='text', placeholder='First Name')
              .col-md-6
                .form-group
                  label.sr-only(for='lastName') Last Name
                  input#lastName.form-control(type='text', placeholder='Last Name')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .text-center
              button.bordered-btn.small-btn-mod.white-style-mod(type='submit') Subscribe