extends layouts/default

block content
  include  partials/cart.jade
  .custom-giftcard
    include  partials/sub-header.jade
    //
    .row
      .col-md-12
        .promo-box-bg
          .promo-box
            h4.dashed-header.white-mod
              span CUSTOMIZE YOUR GIFT
    .row
      .col-md-12
        .promo-info
          .row
            .col-md-12.promo-info-box
              .promo-info-icon
                img.img-responsive.center-block(src="images/custom-gift-card-1.png")
              .promo-info-txt
                h4.promo-info-title HOW IT WORKS
                p
                  |1. You choose a dollar amount and checkout.
                p
                  |2. We email his/her gift when you tell us.
                p
                  |3. He or she redeems their gift card toward their Hemper Box.
                .hemper-bordered-form.hemper-bordered-form-green-mob
                  .hemper-form.hemper-form-black-mod
                    h4.dashed-header.black-mod
                      span TO
                    form
                      .row
                        .col-md-6
                          .form-group
                            label(for='Name') Name
                            input#Name.form-control(type='text', placeholder='RECIEVERS NAME')
                        .col-md-6
                          .form-group
                            label(for='email') Email
                            input#email.form-control(type='email', placeholder='RECIEVERS EMAIL')
                      .row
                        .col-md-12
                          .form-group
                            label(for='msg') Message
                            textarea#msg.form-control( placeholder='SAY SOMETHING NICE')
                    h4.dashed-header.black-mod
                      span From
                    form
                      .row
                        .col-md-6
                          .form-group
                            label(for='Name') Name
                            input#Name.form-control(type='text', placeholder='SENDERS NAME')
                        .col-md-6
                          .form-group
                            label(for='email') Email
                            input#email.form-control(type='email', placeholder='SENDERS EMAIL')
                      .text-center
                        button.bordered-btn.small-btn-mod.green-style-mod(type='submit') Send a gift
    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span Stay updated
          p.hemper-form-sub-title
            | Subscribe to our newslater, to receive special offers news and other updates.
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='firstName') First Name
                  input#firstName.form-control(type='text', placeholder='First Name')
              .col-md-6
                .form-group
                  label.sr-only(for='lastName') Last Name
                  input#lastName.form-control(type='text', placeholder='Last Name')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .text-center
              button.bordered-btn.small-btn-mod.white-style-mod(type='submit') Subscribe