extends layouts/default

block content
  .ecommerce
    include  partials/sub-header.jade
    //
    .row
      .col-md-12
        .promo-box-bg
          .promo-box

    .row
      .col-md-12
        .products-box
          .top-panel
            .row
              .col-md-7
                .categories-menu
                  a(href="#") New Items
                  a(href="#") Papers
                  a(href="#") Glass
                  a(href="#") Accessories
                  a(href="#") Clothing
                  a(href="#") All Items

              .col-md-5
                .search-form
                    input.form-control(
                      type="text",
                      placeholder="search"
                    )
                    span.search-icon.glyphicon.glyphicon-search

          .row.categorie-box
            .col-md-9
              .item
                a(href="#")
                  img.img-responsive(src="images/item_1.png")
                .description-box
                  .align-wrapper
                    .category-name New Items
                    .item-name Vap Pens
                    a.bordered-btn.small-btn-mod.white-style-mod(href="#") Shop now
            .col-md-3
              .rest-items
                .description-box
                  .align-wrapper
                    .description-title Shop all Vapourizers
                    a.bordered-btn.small-btn-mod.white-style-mod(href="#") Shop now
          .row.categorie-box
            .col-md-4
              a.item(href="#")
                img.img-responsive(src="images/item_2.png")
                .description-box
                  .align-wrapper
                    .category-name New Items
                    .item-name Vap Pens
                    a.bordered-btn.small-btn-mod.white-style-mod(href="#") Shop now
            .col-md-4
              a.item(href="#")
                img.img-responsive(src="images/item_3.png")
                .description-box
                  .align-wrapper
                    .category-name New Items
                    .item-name Vap Pens
                    a.bordered-btn.small-btn-mod.white-style-mod(href="#") Shop now
            .col-md-4
              a.item(href="#")
                img.img-responsive(src="images/item_4.png")
                .description-box
                  .align-wrapper
                    .category-name New Items
                    .item-name Vap Pens
                    a.bordered-btn.small-btn-mod.white-style-mod(href="#") Shop now
        .view-more-btn-box
          a.bordered-btn.green-style-mod.double-border-mod(href='#') Shop all products
    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span GET IN CONTACT WITH US
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='Name') Name
                  input#Name.form-control(type='text', placeholder='Name')
              .col-md-6
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='msg') Message
                  textarea#msg.form-control( placeholder='Please type your Message')
            .text-center
              button.bordered-btn.small-btn-mod.white-style-mod(type='submit') Submit