extends layouts/default

block content
  .faq
    include  partials/sub-header.jade
    //
    .row
      .col-md-12
        .promo-box-bg
          .promo-box
            h4.dashed-header.white-mod
              span TOP FAQs
    .row
      .col-md-12
        .faq-questions-box
          .top-panel
            .row
              .col-md-7
                .sort-box
                  +dropdown("SORT",[
                    {text: "ABC", url: "#"},
                    {text: "CBA", url: "#"}
                  ])
              .col-md-5
                .search-form
                    input.form-control(
                      type="text",
                      placeholder="search"
                    )
                    span.search-icon.glyphicon.glyphicon-search
          a.faq-title.collapsed(role='button', data-toggle='collapse', href='#question1', aria-expanded='false', aria-controls='question1')
            | What is hemper box ?
            span.glyphicon(
              aria-hidden="true"
            )
          #question1.collapse
            .collapse-wrapper
              | Eheu.Rusticus, lotus caesiums callide tractare de gratis, germanus victrix.Vae, racana!Velox, audax urias recte examinare de grandis, festus mensa.Gratis orgias ducunt ad musa.Lotus, dexter frondators aliquando demitto de grandis, regius uria.Eheu.Hercle, silva clemens!.Hilotae velums, tanquam fatalis amicitia.
          a.faq-title.collapsed(role='button', data-toggle='collapse', href='#question2', aria-expanded='false', aria-controls='question2')
            | What separates us from our compatition ?
            span.glyphicon(
            aria-hidden="true"
            )
          #question2.collapse
            .collapse-wrapper
              | Eheu.Rusticus, lotus caesiums callide tractare de gratis, germanus victrix.Vae, racana!Velox, audax urias recte examinare de grandis, festus mensa.Gratis orgias ducunt ad musa.Lotus, dexter frondators aliquando demitto de grandis, regius uria.Eheu.Hercle, silva clemens!.Hilotae velums, tanquam fatalis amicitia.
          a.faq-title.collapsed(role='button', data-toggle='collapse', href='#question3', aria-expanded='false', aria-controls='question4')
            | What is hemper box ?
            span.glyphicon(
            aria-hidden="true"
            )
          #question3.collapse
            .collapse-wrapper
              | Eheu.Rusticus, lotus caesiums callide tractare de gratis, germanus victrix.Vae, racana!Velox, audax urias recte examinare de grandis, festus mensa.Gratis orgias ducunt ad musa.Lotus, dexter frondators aliquando demitto de grandis, regius uria.Eheu.Hercle, silva clemens!.Hilotae velums, tanquam fatalis amicitia.
        .view-more-btn-box
          a.bordered-btn.green-style-mod.double-border-mod(href='#') View More FAQs
    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span GET IN CONTACT WITH US
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='Name') Name
                  input#Name.form-control(type='text', placeholder='Name')
              .col-md-6
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='msg') Message
                  textarea#msg.form-control( placeholder='Please type your Message')
            .text-center
              button.bordered-btn.small-btn-mod.white-style-mod(type='submit') Submit