extends layouts/default

block content
  .giftcard
    include  partials/sub-header.jade
    //
    .row
      .col-md-12
        .promo-box-bg
          .promo-box
            h4.dashed-header.white-mod
              span GIVE A CARD
    .row
      .col-md-12
         .promo-info
           .row
             .col-md-4.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/card-icon.png")
               .promo-info-txt
                 h4.promo-info-title send a hemper gift card
                 p.upper
                   |Send a gift card with a personal message to your friends & families email.
                 .text-center
                   a.helmer-btn.black-style-mod(href="#") Gift card
             .col-md-4.promo-info-box
               p.promo-info-or-txt
                  | OR
             .col-md-4.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/giftbox-icon.png")
               .promo-info-txt
                 h4.promo-info-title SEND A LEGACY HEMPER BOX
                 p.upper
                   |Surprise your loved one with a HEMPER BOX at their doorstep.
                 .text-center
                   a.helmer-btn.black-style-mod(href="#") Legacy Box
            .row
              .col-md-12
                .giftcard-bottom-btn
                  a.bordered-btn.black-style-mod.double-border-mod(href="#") Give the perfect gift to friends and family