extends layouts/default

block content
  .page-wrapper
    include  partials/sub-header.jade
    .row
      .col-md-12
        .promo-box-bg
          .home-promo-box
            img.img-responsive.center-block(
              src="images/home-promotext.png"
            )

            h4.dashed-header.white-mod
              span HOW IT WORKS

    .row
      .col-md-12
         .promo-info
           .row
             .col-md-3.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/home-promo-icon-1.png")
               .promo-info-txt
                 h4.promo-info-title BE IN OUR BOX
                 p
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             .col-md-3.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/home-promo-icon-2.png")
               .promo-info-txt
                 h4.promo-info-title GET LISTED
                 p
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             .col-md-3.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/home-promo-icon-3.png")
               .promo-info-txt
                 h4.promo-info-title GET FEEDBACK
                 p
                   |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             .col-md-3.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/home-promo-icon-4.png")
               .promo-info-txt
                 h4.promo-info-title GET FEEDBACK
                 p
                   | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span Stay updated
          p.hemper-form-sub-title
            | Subscribe to our newslater, to receive special offers news and other updates.
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='firstName') First Name
                  input#firstName.form-control(type='text', placeholder='First Name')
              .col-md-6
                .form-group
                  label.sr-only(for='lastName') Last Name
                  input#lastName.form-control(type='text', placeholder='Last Name')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .text-center
              button.bordered-btn.small-btn-mod.white-style-mod(type='submit') Subscribe
    .paper-box
      .row
        .col-md-12
          .faq-questions-box
            h4.dashed-header.green-mod
              span FREQUENTLY ASKED QUESTIONS
            a.faq-title.collapsed(role='button', data-toggle='collapse', href='#question1', aria-expanded='false', aria-controls='question1')
              | What is hemper box ?
              span.glyphicon(
              aria-hidden="true"
              )
            #question1.collapse
              .collapse-wrapper
                | Eheu.Rusticus, lotus caesiums callide tractare de gratis, germanus victrix.Vae, racana!Velox, audax urias recte examinare de grandis, festus mensa.Gratis orgias ducunt ad musa.Lotus, dexter frondators aliquando demitto de grandis, regius uria.Eheu.Hercle, silva clemens!.Hilotae velums, tanquam fatalis amicitia.
            a.faq-title.collapsed(role='button', data-toggle='collapse', href='#question2', aria-expanded='false', aria-controls='question2')
              | What separates us from our compatition ?
              span.glyphicon(
              aria-hidden="true"
              )
            #question2.collapse
              .collapse-wrapper
                | Eheu.Rusticus, lotus caesiums callide tractare de gratis, germanus victrix.Vae, racana!Velox, audax urias recte examinare de grandis, festus mensa.Gratis orgias ducunt ad musa.Lotus, dexter frondators aliquando demitto de grandis, regius uria.Eheu.Hercle, silva clemens!.Hilotae velums, tanquam fatalis amicitia.
            a.faq-title.collapsed(role='button', data-toggle='collapse', href='#question3', aria-expanded='false', aria-controls='question4')
              | What is hemper box ?
              span.glyphicon(
              aria-hidden="true"
              )
            #question3.collapse
              .collapse-wrapper
                | Eheu.Rusticus, lotus caesiums callide tractare de gratis, germanus victrix.Vae, racana!Velox, audax urias recte examinare de grandis, festus mensa.Gratis orgias ducunt ad musa.Lotus, dexter frondators aliquando demitto de grandis, regius uria.Eheu.Hercle, silva clemens!.Hilotae velums, tanquam fatalis amicitia.
          .featured-brands
            h4.dashed-header.green-mod
              span FEATURED BRANDS
            +carousel("brands-carousel",[
              {image: "images/featured-brands.png", p: "featured brands"},
              {image: "images/featured-brands.png", p: "featured brands"},
              {image: "images/featured-brands.png", p: "featured brands"},
              {image: "images/featured-brands.png", p: "featured brands"}
            ])
    .promo-box-bg-2
      img.img-responsive(src="images/bg-promo-img-2.png" title="")