extends layouts/default

block content
  .affiliate
    include  partials/sub-header.jade
    //
    .row
      .col-md-12
        .promo-box-bg
          .promo-box
            h4.dashed-header.white-mod
              span WORK WITH US
            img.img-responsive.center-block(
              src="images/promo-img-1.png"
            )
            p.promo-box-txt
              | Hemper supplies high quality smoking products at an affordable cost while at the same time introducing our subscribers to new and exciting smoking products.Our Hemper Box was inspired by the to-your-door boom, delivering essential products to you in one, simple package. Working with us provides the opportunity to be introduced to easger smokers who enjoy trying new products.

    .row
      .col-md-12
         .promo-info
           .row
             .col-md-4.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/promo-icon-1.png")
               .promo-info-txt
                 h4.promo-info-title BE IN OUR BOX
                 p
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             .col-md-4.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/promo-icon-2.png")
               .promo-info-txt
                 h4.promo-info-title GET LISTED
                 p
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             .col-md-4.promo-info-box
               .promo-info-icon
                 img.img-responsive.center-block(src="images/promo-icon-3.png")
               .promo-info-txt
                 h4.promo-info-title GET FEEDBACK
                 p
                   |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    //
      .row
        .col-md-12
          .featured-brands
            h4.dashed-header.green-mod
              span FEATURED BRANDS
            +carousel("brands-carousel",[
              {image: "images/featured-brands.png", p: "featured brands"},
              {image: "images/featured-brands.png", p: "featured brands"},
              {image: "images/featured-brands.png", p: "featured brands"},
              {image: "images/featured-brands.png", p: "featured brands"}
            ])

    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span Sign Up
          p.hemper-form-subtitle
            | THANK YOU FOR YOUR INTERST IN HEMPER. LEAVE US A MESSAGE BELOW, AND SOME SHOULD GET BACK TO YOU SHORTLY
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='businessName') Business Name
                  input#businessName.form-control(type='text', placeholder='Business Name')
              .col-md-6
                .form-group
                  label.sr-only(for='businessWebsite') Business Website
                  input#businessWebsite.form-control(type='text', placeholder='Business Website')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='productName') Name Of Product
                  input#productName.form-control(type='text', placeholder='Name Of Product')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='about') About
                  textarea#about.form-control(type='text', placeholder='About')
            h4.dashed-header.white-mod
              span CONTACT INFO
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='contactName') Contact Name
                  input#contactName.form-control(type='text', placeholder='Contact Name')
              .col-md-6
                .form-group
                  label.sr-only(for='position') Position
                  input#position.form-control(type='text', placeholder='Position')
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='email') Email Address
                  input#email.form-control(type='text', placeholder='Email Address')
              .col-md-6
                .form-group
                  label.sr-only(for='phoneNumb') Phone Number
                  input#phoneNumb.form-control(type='text', placeholder='Phone Number')
            .text-center
              button.bordered-btn.big-btn-mod.white-style-mod(type='submit') Sign Up