extends layouts/default

block content
  .policy
    include  partials/sub-header.jade
    //
    .row
      .col-md-12
        .policy-info
          h4.dashed-header.green-mod
            span Privacy Policy
          h6 What information do we collect?
          p
            | We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey or fill out a form. When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.

          h6 What do we use your information for?
          p
            | Any of the information we collect from you may be used in one of the following ways:
          p
            | To personalize your experience. Your information helps us to better respond to your individual needs.
          p
            | To improve our website. We continually strive to improve our website offerings based on the information and feedback we receive 	  from you.
          p
            | To improve customer service. Your information helps us to more effectively respond to your customer service requests and support needs.
          p
            | To process transactions.
          p
            | Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
            | To administer a contest, promotion, survey or other site features.
          p
            | To send periodic emails.
          p
              | The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in 		    addition to receiving occasional company news, updates, related product or service information, etc.
          p
            | Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.

          h6 Do we disclose any information to outside parties?
          p
            | We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
    .row
      .col-md-12.hemper-form-bg
        .hemper-form-bg-arrow
        .hemper-form
          h4.dashed-header.white-mod
            span Stay updated
          p.hemper-form-sub-title
            | Subscribe to our newslater, to receive special offers news and other updates.
          form
            .row
              .col-md-6
                .form-group
                  label.sr-only(for='firstName') First Name
                  input#firstName.form-control(type='text', placeholder='First Name')
              .col-md-6
                .form-group
                  label.sr-only(for='lastName') Last Name
                  input#lastName.form-control(type='text', placeholder='Last Name')
            .row
              .col-md-12
                .form-group
                  label.sr-only(for='email') Email
                  input#email.form-control(type='email', placeholder='Email')
            .text-center
              button.bordered-btn.small-btn-mod.white-style-mod(type='submit') Subscribe