doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link
    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    include  ../partials/jade_mixins.jade
    include  ../partials/header.jade
    block content
    include  ../partials/footer.jade

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                  (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X');ga('send', 'pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild